

<%- include("../partials/header") -%> 
<div class="container p-3">
    <h5 class="text-center">Edit Comment</h5>
    <div class="row justify-content-center mt-4">
    <div class="col-md-6 col-12">   
        <form action="/post/<%=post_id%>/comments/<%= comment._id%>?_method=PUT " method="POST">
            <div class="mb-3"> <textarea  class="form-control" type="text" name="content"  rows="3"><%= comment.content%></textarea></div>
            <input class="btn btn-success " type="submit" name="Edit" value="Edit" placeholder="Create">
        
        </form>
    </div>
    </div>
</div>