  <footer class="navbar navbar-dark bg-dark footer mt-5 ">
    <div class="container-fluid">
      <a href="" class="navbar-brand text-muted">Travelled &#169; 2021</a>
    </div>
  </footer> 
</body>
</html>