<%- include("partials/header") -%> 
<h3 class="login_h3">Log in </h3>
<div class="login">
<form action="/login" method="post">
    <div class="mb-3">
         <label for="exampleInputEmail1">Username</label>
         <input type="text" name="username" id="" class="form-control" placeholder="username">
    </div>
    <div class="mb-3">
         <label for="Password">Password</label>
        <input class="form-control mb-3" type="password" name="password" id="myInput" placeholder="password">
        <input type="checkbox" class="m-2" onclick="myFunction()">Show Password
    </div>
    <div class="form-group">
         <label for="Password">Don't have account ? <a href="/register">click here </a>to register </label>
    </div>
     <input type="submit"  class="btn btn-success" value="Log in " placeholder="submit">
</form>
</div>

<script>
function myFunction() {
   
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

</script>




