.thumbnail{
    padding: 5px;
}
.thumbnail img{
    width: 100%;
}
.thumbnail .caption-full{
    padding: 9px;
}
#delete-form{
    display:inline;
}


.login{
    display: flex;
    justify-content: center;
    
}
.login_h3{
    text-align: center;
    margin-top: 50px;

}
.login form{
   margin-top: 10px; 
}